* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonte NeoSans */
@font-face {
    font-family: 'NeoSans';
    src: url('fonts/NeoSans-Black.otf') format('opentype');
}

/* Variáveis */
:root {
    --borda-cor: 1px solid #0099ff;
    --borda-cor: none;
}

body {

    display: flex;
    justify-content: center;
    background-color: #e2e5ff;
    font-family: "Rubik";
}

.ambiente {
    overflow: hidden;
    
    border-radius: 60px;
    box-shadow: 1px 1px 50px 0px rgb(99, 96, 96);
    background-color: white;
    margin-top: 25px;

    position: relative;

    display: flex;
    justify-content: center;
    
    width: 70vw;

    height: 90vh;
}

/* Body e .ambiente para telas menores que 600 pixels */
@media (max-width: 600px) {
    body {
        background-color: white;
    }
    .ambiente {
        margin-top: 0;
        box-shadow: none;
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 600px) {

    .ambiente {
        width: 480px;
    }

}

.header {
    background-color: #4e51bf;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: top;
    border: var(--borda-cor);
    box-shadow: 0px 10px #bbbde9 ;
    width: 480vw;
    height: 200px;
}


/* Header para telas menores que 768 pixels */
@media (max-width: 600px) {
    .header {
        
        width: 100vw;
    }
}

@media (min-width: 600px) {
    .header {
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        width: 480px;
    }
}

.header section {

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
    width: 90%;
    margin-top: 10px;
    color: #e2e5ff;
}

.menu {
    color: #e2e5ff;
    font-size: 30px;
    cursor: pointer;
}

/* Dados da API Instagram */
.profile-pic {
    border: 5px solid #bbbde9;
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    
}
.profile-pic {
    background-image: url("img/profile.png");
}


/* Dados do perfil do Instagram */
.profile-info {
    position: fixed;
    font-weight: 500;
    line-height: 2em;
    font-size: 20px;
    padding: 10px;

    display: flex;
    justify-content: center;
    margin-left: 15px;
    height:180px;
    z-index: 99;
}

.profile-stats {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

    width: 380px;
}

.username {

    font-size: 16px;
}



/* Links */
.buttons {

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 34px;
    margin-top: 220px;
    width: 450px;
    height: 500px;
    
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 10px 1px #bbbde9;
    padding: 0 30px;
    width: 100%;
    height: 70px;
    border-radius: 50px;
    background-color: #f4f5fe;
    cursor: pointer;
    transition: 400ms;
}
.btn-box:hover {
    background-color: #bbbde9;

}

.icon {
    width: 40px;
    height: 40px;
    
}
.but1 .icon {
    background-image: url(img/github.png);
    background-size: cover;
    background-position: center;
}
.but2 .icon {
    background-image: url(img/linkedin.png);
    background-size: cover;
    background-position: center;
}
.but3 .icon {
    background-image: url(img/whatsapp.png);
    background-size: cover;
    background-position: center;
}
.but4 .icon {
    background-image: url(img/instagram.png);
    background-size: cover;
    background-position: center;
}

.text {
    font-weight: 500;
    font-size: 20px;
}


footer {
    
    font-size: 14px;
    color: #61606e;
}

