* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonte NeoSans */
@font-face {
    font-family: 'NeoSans';
    src: url('fonts/NeoSans-Black.otf') format('opentype');
}

/* Variáveis */
:root {
    --borda-cor: 1px solid #0099ff;
    --borda-cor: none;
    --blur-on: blur(20px);
    --blur-off: blur(0);
}

body {

    display: flex;
    justify-content: center;
    background-color: #e2e5ff;
    font-family: "Rubik";
}

.ambiente {
    overflow: hidden;
    filter: var(--blur-off);
    border-radius: 60px;
    box-shadow: 1px 1px 50px 0px rgb(99, 96, 96);
    background-color: white;
    margin-top: 25px;

    position: relative;

    display: flex;
    justify-content: center;
    
    width: 70vw;

    height: 90vh;
}

/* Body e .ambiente para telas menores que 600 pixels */
@media (max-width: 600px) {
    body {
        background-color: white;
    }
    .ambiente {
        margin-top: 0;
        box-shadow: none;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@media (min-width: 600px) {

    .ambiente {
        width: 480px;
    }

}

.header {
    background-color: #383847;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    box-shadow: 0px 10px #bbbde9 ;
    width: 480vw;
    height: 190px;
}


/* Header para telas menores que 768 pixels */
@media (max-width: 600px) {
    .header {
        
        width: 100vw;
    }
}

@media (min-width: 600px) {
    .header {
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        width: 480px;
    }
}

.header section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height:150px;
    width: 90%;
    color: #e2e5ff;
}

.active {
    color: #4e51bf;
}

/* Dados da API Instagram */
.profile-pic-user {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.user {
    font-size: 20px;
}
.user .name1 {
    margin-left: 0px;
    text-shadow: 2px 2px 1px #fd3995;
}
.user .name2 {
    margin-left: 31px;
    margin-top: -8px;
    text-shadow: 2px 2px 1px #676bcf;
}




.profile-pic {
    border: 5px solid #61606e;
    display: block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    animation: changeColor 8s infinite linear;
}
.profile-pic {
    background-image: url("img/profile.png");
}


/* Dados do perfil do Instagram */
.profile-info {

    position: fixed;
    font-weight: 500;
    line-height: 2em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 15px;
    height: 80px;
    
}

.profile-stats {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    width: 380px;
}

/* Faixa */
.faixa {
    display: flex;
    margin-top: 10px;
    height: 10px;
    width: 100%;
    background-color: #bbbde9;
}

.faixa div {
    flex-grow: 1;
}

.faixa .a {
    height: 10px;
    background-color: #61606e;
}
.faixa .b {
    background-color: #ffe600;
}
.faixa .c {
    background-color: #ff0077;
}
.faixa .d {
    background-color: #4e51bf;
}

/* Links */

a {
    text-decoration: none;
    color: #61606e;
    
}
.buttons {

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 34px;
    margin-top: 220px;
    width: 450px;
    height: 500px;

}

.btn-box {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 10px 1px #bbbde9;
    padding: 0 30px;
    width: 320px;
    height: 70px;
    border-radius: 50px;
    background-color: #f4f5fe;
    cursor: pointer;
    transition: 400ms;
    
}
.btn-box:hover {
    background-color: #bbbde9;

}

.icon {
    width: 40px;
    height: 40px;
    
}
.but1 .icon {
    background-image: url(img/github.png);
    background-size: cover;
    background-position: center;
}
.but2 .icon {
    background-image: url(img/linkedin.png);
    background-size: cover;
    background-position: center;
}
.but3 .icon {
    background-image: url(img/whatsapp.png);
    background-size: cover;
    background-position: center;
}
.but4 .icon {
    background-image: url(img/instagram.png);
    background-size: cover;
    background-position: center;
}

.text {
    font-weight: 500;
    font-size: 20px;
}


footer {
    
    font-size: 14px;
    color: #61606e;
}

/* Animações */

.glitch {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    }

    @keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(5px, -5px);
    }
    60% {
        transform: translate(-5px, -5px);
    }
    80% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: translate(0);
    }
}
  

@keyframes changeColor {
    0% {
        border: 5px solid #61606e;
    }
    25% {
        border: 5px solid #bbbde9;
    }
    50% {
        border: 5px solid #ffe600;
    }
    75% {
        border: 5px solid #ff0077;
    }
    100% {
        border: 5px solid #4e51bf;
    }
}