* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Fonte NeoSans */
@font-face {
    font-family: 'NeoSans';
    src: url('fonts/NeoSans-Black.otf') format('opentype');
}

/* Variáveis */
:root {
    --borda-cor: 1px solid #0099ff;
    --borda-cor: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: #e2e5ff;
    font-family: "Rubik";
}

.ambiente {
    /* overflow: hidden; */
    
    border-radius: 60px;
    box-shadow: 1px 1px 50px 0px rgb(99, 96, 96);
    background-color: white;
    margin-top: 5px;

    position: relative;

    display: flex;
    justify-content: center;
    
    width: 80vw;

    height: 850px;
}

/* Body e .ambiente para telas menores que 600 pixels */
@media (max-width: 600px) {
    body {
        background-color: white;
    }
    .ambiente {
        margin-top: 0;
        box-shadow: none;
        width: 100vw;
    }
}

.header {
    background-color: #4e51bf;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: top;
    border: var(--borda-cor);
    
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
    width: 80vw;
    height: 300px;
}

/* Header para telas menores que 768 pixels */
@media (max-width: 600px) {
    .header {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100vw;
    }
}

.header section {
    border: var(--borda-cor);

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
    width: 90%;
    margin-top: 10px;
}

.menu {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Dados da API Instagram */
.profile-pic {
    border: 5px solid #ff92a4;
    display: block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
}
.profile-pic {
    background-image: url("img/profile.png");
}

.profile-box {
    border: var(--borda-cor);
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 140px;
    width: 100%;
    height:250px;
    z-index: 99;
}

.profile-area {

    overflow: hidden;
    display: flex;
    align-items: end;
    text-align: center;
    background-color: #ffe9ce;
    color: #4e4b57;
    border-radius: 60px;
    border-bottom-left-radius: 0px;
    width: 80%;
    height: 250px;
    z-index: 99;
}



.lua .figura {

    left: 0;
    top: 350px;
    position: absolute;
    width: 70px;
    height: 100px;
    background-color: #ffe9ce;

}

.lua .modelador {

    left: 10px;
    top: 381px;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: white;
    transform: rotate(80deg);

}

/* Design Circles */
.elem-area {

    overflow: hidden;
    display: flex;
    justify-content: right;
    color: #4e4b57;
    border-radius: 60px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: 250px;
    z-index: 99;
}

.elems01 {
    overflow: hidden;
    position: relative;
    margin: -10px -29px;
    border-top-right-radius: 60px;
    width: 200px;
    height: 150px;

}
.elems01 .circle01 {
    position: relative;
    display: flex;
    background-color: white;
    margin: -50px 50px 0px;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.elems01 .circle02 {
    
    background-color: #ffdd83;
    
    
    width: 110px;
    height: 110px;
    border-radius: 50%;
    
}

.elems01 .circle03 {
    position: absolute;
    background-color: #4e51bf;
    margin: -90px 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 99;
}

.elems01 .circle04 {
    position: absolute;
    background-color: #ff92a4;
    margin: -20px 140px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 99;
}

/* Dados do perfil do Instagram */
.profile-info {
    position: fixed;
    font-weight: 500;
    line-height: 2em;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    
    border: var(--borda-cor);
    width: 320px;
    height:180px;
    z-index: 99;
}

.username {
    font-style: italic;
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
}

.profile-stats {
    display: flex;
    justify-content: space-between;

}



/* Links */


.buttons {

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 45px 34px;
    margin-top: 380px;
    width: 450px;
    height: 450px;
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 0 30px;
    width: 100%;
    height: 70px;
    border-radius: 50px;
    background-color: #f4f5fe;
    cursor: pointer;
    transition: 400ms;
}
.btn-box:hover {
    background-color: #bbbde9;
}

.icon {
    width: 40px;
    height: 40px;
    
}
.but1 .icon {
    background-image: url(img/github.png);
    background-size: cover;
    background-position: center;
}
.but2 .icon {
    background-image: url(img/linkedin.png);
    background-size: cover;
    background-position: center;
}
.but3 .icon {
    background-image: url(img/whatsapp.png);
    background-size: cover;
    background-position: center;
}
.but4 .icon {
    background-image: url(img/instagram.png);
    background-size: cover;
    background-position: center;
}

.text {
    font-weight: 500;
    font-size: 20px;
}


footer {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #61606e;
}

